body {
  font-family: sans-serif;
}
#todo-app {
  display: flex;
  place-items: center;
  place-content: center;
  flex-direction: column;
}
#todo-input-form {
  margin-top: 50px;
}
#todo-input {
  padding: 10px;
  font-size: 1.5em;
}
#todo-add,
.todo-text {
  padding: 10px;
  font-size: 1.5em;
}

.todo-delete-button {
  margin-left: 20px;
}
.todo-complete {
  margin-right: 20px;
}
.strike-through {
  text-decoration: line-through;
  text-decoration-color: teal;
}
